.order-song {
    width: 500px;
    height: 100%;
    /* background-color: rgba(0,0,0,0.25); */
    position: relative;
}

.order-toast {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: brown;
    border-radius: 5px;
}

.fade-enter-active, .fade-leave-active {
    transition: all .5s;
    transform: translateY(0);
}
.fade-enter, .fade-leave-to {
    transform: translateY(100%);
}

.marquee {
    width: 500px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;  /* show the marquee just outside the paragraph */
    animation: marquee 15s linear infinite;
}

.marquee span:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

ul {
    list-style-type: none;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    font-size: 25px;
    font-weight: bolder;
    color: white;
    font-family: Helvetica Neue,Helvetica,Arial,Microsoft YaHei,sans-serif;
    -webkit-text-stroke: 1px rgba(0,0,0,1);
}
