<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <script src="requirejs.conf.js"></script>
        <link rel="stylesheet" href="css/order-song.css"></link>
    </head>
    <body>
        <script type="text/x-template" id="order-song">
            <div class="order-song">
                <div class="order-tips"> <!--marquee-->
                    <span v-text="tips"></span>
                </div>
                <div class="order-current">当前播放: {{currentSong}} {{curFrom}}</div>
                <div class="order-list-header">播放列表</div>
                <div class="order-list">
                    <ul v-if="list.length > 0">
                        <li v-for="(r, i) in list">{{i+1}}. {{r.music.toString()}} ({{r.from}})</li>
                        <li v-if="listCount > showItems">...</li>
                    </ul>
                    <div v-else>当前播放列表为空</div>
                </div>
                <transition name="fade">
                    <div v-text="toast" v-bind:style="{backgroundColor: toastColor}" v-show="toastShow" class="order-toast"></div>
                </transition>
            </div>
        </script>
        <div id="order-song">
        </div>
        <script data-main="js/bilibili-order-song.js" src="require.js"></script>
    </body>
</html>
